

.Navbar {
    padding: 5px;
    background-color: rgb(197, 188, 188);
    border: 2px solid black;
    /* display: flex;
    align-items: center; */
}
.logo {
    margin-left: 150px;
}
.navBar {
    list-style-type: none;
    margin-left: 70%;
    display: flex;
       margin-top: -40px;
}
.navBar li a{
    margin: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    color: black 
}
